#projects {
  @apply pb-16 md:py-24;
}

.info {
  @apply flex flex-col gap-20 mt-10 md:mt-20;
}

.content {
  @apply lg:grid lg:grid-cols-2 lg:gap-16 lg:pt-16 lg:px-20;
}

.cardPadding {
  @apply px-8 pt-8 pb-0 md:pt-12 md:px-10 sticky;
}

.projectHeading {
  @apply font-serif text-2xl mt-2
    md:text-4xl md:mt-5;
}

.projectDivider {
  @apply border-t-2 border-white/5 mt-4 md:mt-5;
}

.projectIcon {
  @apply size-5;
}

.projectResults {
  @apply flex flex-col gap-4 mt-4 md:mt-5;
}

.projectResult {
  @apply flex gap-2 text-sm text-white/50 md:text-base;
}

.projectCTA {
  @apply bg-stone-50 text-stone-950
    rounded-full font-semibold font-serif
    inline-flex items-center justify-center gap-2
    w-full h-[50px] mt-8
    transition-colors duration-300 ease-in-out
    hover:bg-stone-900 hover:text-stone-50 hover:border-2 hover:border-stone-50/20
    md:w-auto md:px-6;
}

.projectCTAIcon {
  @apply size-4 md:size-6;
}

.projectImage {
  @apply mt-8 -mb-4 md:mb-0
    lg:mt-0 lg:absolute lg:h-full lg:max-w-none;
}

.company-name_year {
  @apply inline-flex gap-2
    bg-gradient-to-r from-emerald-300 to-sky-400 text-transparent
    bg-clip-text font-bold uppercase tracking-widest text-sm;
}

.contentFirstColumn {
  @apply lg:pb-16;
}

.contentSecondColumn {
  @apply lg:relative;
}