.projects {
  @apply p-0 mb-[150px] lg:mb-10;
}

.info {
  @apply flex flex-col gap-20 mt-10 md:mt-20;
}

.content {
  @apply grid grid-cols-1 gap-10 lg:grid-cols-2 lg:gap-16 lg:pt-16 lg:px-20;
}

.cardPadding {
  @apply p-8 lg:sticky;
}

.projectHeading {
  @apply font-serif text-2xl mt-2 md:text-4xl md:mt-5;
}

.projectDivider {
  @apply border-t-2 border-white/5 mt-4 md:mt-5;
}

.projectDescription {
  @apply my-5 text-pretty tracking-widest leading-6 text-stone-200/50 space-y-5;
}

.projectToolIcon {
  @apply size-6;
}

.projectIcon {
  @apply size-5;
}

.projectResults {
  @apply flex flex-wrap gap-2 mt-4 md:mt-5;
}

.projectResult {
  @apply flex items-center gap-2;
}

.projectCTAWrapper {
  @apply md:text-center;
}

.projectCTA {
  @apply bg-stone-50 text-stone-950
    rounded-full font-semibold font-serif
    inline-flex items-center justify-center gap-2
    w-full h-[50px] mt-8
    transition-colors duration-300 ease-in-out
    hover:bg-stone-900 hover:text-stone-50 hover:border-2 hover:border-stone-50/20
    md:w-auto md:px-6;
}

.projectCTAIcon {
  @apply size-4 md:size-6;
}

.projectImage {
  @apply rounded-2xl border-2 border-white/20 h-[400px] object-cover object-top
    lg:h-auto lg:object-none;
}

.company-name_year {
  @apply inline-flex gap-2
    bg-gradient-to-r from-emerald-300 to-sky-400 text-transparent
    bg-clip-text font-bold uppercase tracking-widest text-sm;
}

.contentFirstColumn {
  @apply lg:pb-16;
}

.contentSecondColumn {
  @apply lg:relative;
}