.formField {
  @apply mb-5;
}

.formGroup {
  @apply w-full flex flex-col items-start md:items-center md:flex-row gap-5;
}

.formLabel {
  @apply text-base font-medium text-stone-800 md:min-w-[80px];
}

.formInput,
.formTextArea {
  @apply w-full rounded-md border border-stone-800/50 bg-white/20
    text-base font-normal italic text-emerald-950 outline-none
    focus:border focus:border-white focus:bg-white/30
}

.formInput {
  @apply py-2 px-4;
}

.formGroupMessage {
  @apply flex flex-col items-start gap-5 mb-5;
}

.formTextArea {
  @apply p-4 resize-none;
}

.formFieldError {
  @apply text-red-700 !border-red-700 text-sm font-semibold italic !bg-red-100;
}

.formErrorMessage {
  @apply ml-2 mt-3 text-red-500 text-sm font-semibold italic before:content-['*']
  before:mr-2;
}

.sendGroup {
  @apply flex justify-end;
}

.formButton {
  @apply bg-stone-900 text-gray-50 inline-flex items-center justify-center gap-2
    px-6 h-12 rounded-xl w-full md:w-max 
    hover:bg-stone-50 hover:text-gray-800
    transition-colors duration-300 ease-in-out;

  & span {
    @apply font-semibold font-serif;
  }

  & svg {
    @apply size-4;
  }
}

.toast {
  @apply mb-10 rounded-full px-6 py-3 w-fit font-semibold ml-auto italic;
}

.toastSuccess {
  @apply bg-emerald-900 text-emerald-50;
}

.toastError {
  @apply bg-red-900 text-red-50;
}