.wrapper {
  @apply bg-stone-800 rounded-3xl relative z-0 overflow-hidden
    after:z-10 after:content-[''] after:absolute after:inset-0
    after:outline after:outline-2 after:-outline-offset-2
    after:rounded-3xl after:outline-gray-50/20 p-6;
}

.card {
  @apply bg-stone-800 rounded-3xl p-6 relative overflow-hidden z-0;
}

.cardBackground {
  @apply absolute inset-0 opacity-5 -z-10;
}
